<html th:include="template :: modelo">
<div th:fragment="conteudo">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Home</th>
                <th scope="col">NUmero de portas</th>
                <th scope="col">Quantidade de quartos</th>
                <th scope="col">Tipo</th>
                <th scope="col">Proprietário</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each=" propietario : ${propietarios">
                <th scope="row" th:text="${propietario.id"></th>
                <td scope="row" th:text="${propietario.nome"></td>
                <td scope="row" th:text="${propietario.telefone"></td>
                <td>
                    <a th:href="@{/excluirAp(id=${propietario.id})}">Excluir</a>
                    <a th:href="@{/editarAp(id=${propietario.id})}">Editar</a>

                </td>
            </tr>
        </tbody>

    </table>
</div>

</html>